/* Layout */
html, body, #home {
    height: 100%;
    background: #ffffff;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

/* Barra de Navegação */
header {
    margin-bottom: 120px;
}

nav.navbar-transparente {
    padding: 15px 0;
    background: rgba(109, 163, 77, 0.9);
}

.navbar-light .navbar-nav {
    & .nav-link{
    color: white;
}

    & .nav-link:hover{
        color: #17301C;
    }
}

.navbar-light .navbar-toggler{
    background: rgba(109, 163, 77, 0.9);
    border-color: rgba(255, 255, 255, .5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}

.navbar {
    & h2 {
        color: white;
        font-size: 1.9em;
        padding: 8px;
    }

    h2:hover{
        color: #17301C;
    }
}

/* capa */

.capa {
    text-align: center;
}

/* Botões Carousel */

.btn-custom {
    color: white;
    border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 13px 24px;
}

.btn-oppacity {
    background: rgba(109, 163, 77, 0.9);
    color: white;
}

.btn-oppacity:hover {
    background: rgba(108, 163, 77, 0.9);
    color: #17301C;
}

/* Estrutura de Conteúdos */

#equipe {
    & img {
        border: 3px solid black;
        border-radius: 200px;
        width: 150px;
        height: 150px;
    }
}

/* Tipografia */
h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: #6ca34d;
}

h2 {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #6ca34d;
}

h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: #6ca34d;
}

/* Produto */
.queijo {
    & img {
        border-radius: 20px;
        width: 100%;
        margin: 8px 0;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h1 {
        font-size: 2.5em;
    }

    .queijo {
        & p {
            font-size: 1.2em;
        }
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .queijo {
        & p {
            font-size: 1.4em;
        }
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3.5em;
    }

    p {
        font-size: 1.1em;
    }

    .queijo {
        & p {
            font-size: 1.6em;
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 4em;
    }

    p {
        font-size: 1.3em;
    }

    .queijo {
        & p {
            font-size: 1.7em;
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    h1 {
        font-size: 4.5em;
    }

    p {
        font-size: 1.3em;
    }

    .queijo {
        & p {
            font-size: 2em;
        }
    }
}

/* Carousel */
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}


/* Rodapé */
footer {
    background: rgba(109, 163, 77, 0.9);
    padding: 50px 0px 25px 0px;
    position: relative;

    & h4 {
        color: white;
        font-size: 0.8em;
        text-transform: uppercase;
    }

    & .navbar-nav a {
        color: white;
    }
    
    & .navbar-nav a:hover {
        color: #17301C;;
        text-decoration: none;
    }
    
    & ul {
        list-style: none;
    }
    
    & ul li {
        color: white;
        float: right;
        margin: 0 5px;
        font-size: 0.8em;
    }

    & i {
        font-size: 2rem; 
        color: white;
    }

    & i:hover{
        color: #17301C;
    }
}

/* Formulário */
input {
    margin: 7px 0;
}